# Images #
##########

# zip and rar files #
#####################
*.zip
*.rar

# test notebooks #
##################

# misc files #
##############
test_info_read.ipynb
test_spectrum_read.ipynb
toolboxtest.py
Untitled-1.ipynb
test_surfacefit.ipynb
GwyReaderTest.py

# Pycharm ideas
.idea/
